<!-- jQuery -->
<script src="js/jquery.js"></script>
<script src="js/jquery.parse.js"></script>
<script src="http://www.parsecdn.com/js/parse-1.2.15.min.js"></script>
<!-- Angular js -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="js/capitalOneConfig.js"></script>
<script src="js/main.js"></script>

<!-- <div class="alert alert-danger" id="show_danger" style="display: none">
    <a href="#" class="close" onclick="$('#show_danger').hide()" aria-label="close">&times;</a>
  <strong>Invalid Email</strong>
</div> -->
<form novalidate role="form">
      <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong></div>
      <div class="form-group">
          <label for="InputMessage">Email</label>
          <div class="input-group">
              <input type="email" ng-modal="email" class="form-control" id="email" name="InputEmail" placeholder="Enter Email" required>
              <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
          </div>
      </div>
      <div class="form-group">
          <label for="InputMessage">Amount</label>
          <div class="input-group">
              <input type="number" min="1" name="InputMessage" id="amount" ng-model="amount" class="form-control" rows="5" required></input>
              <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
          </div>
      </div>
      <div class="form-group">
          <label for="InputMessage">Debit/Credit Card Number</label>
          <div class="input-group">
              <input name="InputMessage" ng-model="cardNumber" class="form-control" rows="5" required></input>
              <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
          </div>
      </div>
      <div class="form-group">
          <label for="InputMessage">Expire Date</label>
          <div class="input-group">
              <input name="InputMessage" ng-model="Expiry" class="form-control" rows="5" required></input>
              <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
          </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
        </div>
      </div>
</form>

<script>
$(document).ready(function(){
    $("#submit").click(function(e) {
      e.preventDefault();
      var current_email = $("#email").val();
      var current_amount = Number($("#amount").val());
      var isValid = true;
    	var config = capitalOneConfig;
      console.log(config);
      if(isValid) {
        $.parse.init({
            app_id : "wUqVebZ3FMEK8HkKFNK2fhkN3FCRv8nn5ppC2JmC", // <-- enter your Application Id here
            rest_key : "WdbR9mMUOyxzLEpTPCByMS2RGp7b7us46AfgrQw1" // <--enter your REST API Key here
        });
        console.log(email);
        $.parse.get("Donator", function(json) {
            results = json.results;
            var nextDonatorId = results[results.length - 1].donatorId;
            console.log(nextDonatorId+1);
            $.parse.post('Donator', {
              donationId : 1,
              donatorId : (nextDonatorId + 1),
              amount : current_amount,
              email : current_email,
              isUser : false });
          });

        

      	var formatURL = function (path) {
      		return 'http://api.reimaginebanking.com/' + path + '?key=' + config.apiKey;
      	};
      	var createTransaction = function (donation) {
      		var URL = formatURL('accounts/' + config.donorAccountID + '/transfers');
      		var postData = {
      			medium: 'balance',
      			payee_id : config.charityAccountID,
      			// transaction_date : new Date().toDateString(),
      			description : "Donation to fund X's surgery",
      			amount : donation
      		};
      		$.ajax({
      			url: URL,
      			type: 'POST',
      			data: JSON.stringify(postData),
      			dataType: 'json',
      			contentType: "application/json; charset=utf-8",
      			success : function (data, textStatus) {
      			},
      			error : function (xhr, ajaxOptions, throwError) {
              console.log(xhr);
              console.log(ajaxOptions);
              console.log(throwError);
      			}
      		}); };

          createTransaction(current_amount);
          $(location).attr('href', 'donationsuccess.html');
    }
})});
</script>
