<script src="bower_components/angularparse/angularparse.js"></script>
<body id="page-top" style="background-color:lightgrey">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Down to Donate</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="index.html">Home</a>
                    </li>
                    <li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <br><br><br><br>

    <div class="container">
        <div class="row">
            <a class="col-md-6" style="margin-left: -50px; margin-right: 40px;" href="https://cash.me/$fear" target="_blank"><img src="img/square.png" width=200 height=200></img></a>
            <!-- <a class="col-md-6"><button ng-click="openC1()">Capital One</button></a> -->
            <a class="col-md-6"><img src="img/capitalOne.png" width=200 height=200 ng-click="openC1();"></img></a>
        </div>

        <form id="register-form" style="display:none;">
            <div class="modal-body">
                <div id="div-register-msg">
                    <div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>
                    <span id="text-register-msg">Register an account.</span>
                </div>
                <input id="register_username" class="form-control" type="text" placeholder="Username (type ERROR for error effect)" required>
                <input id="register_email" class="form-control" type="text" placeholder="E-Mail" required>
                <input id="register_password" class="form-control" type="password" placeholder="Password" required>
            </div>
            <div class="modal-footer">
                <button id="donate_btn" type="button" class="btn btn-link">Donate</button>
            </div>
        </form>

    </div>
  </body>
